@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    margin: 0 0 0 0;
    background-color: var(--bg-pr-clr);
}

p {
    max-width: 85vw;
}

* {
    --bg-pr-clr: #252525;
    --bg-sc-clr: #343738;
    --bg-td-clr: #383b41;
    --tx-pr-clr: #EFEFEF;
    --tx-sc-clr: #D4D4D4;
    --tx-td-clr: #888;

    font-family: 'Roboto', sans-serif;
}