@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
    width: 100%;
    height: 100%
}

body {
    height: calc(100vh - calc(100vh - 100%));
    width: calc(100vw - calc(100vw - 100%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    background-color: var(--bg-pr-clr);
    overflow-x: hidden;
}

p {
    max-width: 87.5vw;
}

* {
    --bg-pr-clr: #252525;
    --bg-sc-clr: #343738;
    --bg-td-clr: #383b41;

    --tx-pr-clr: #EFEFEF;
    --tx-sc-clr: #D4D4D4;
    --tx-td-clr: #888;

    --accent-pr: #2b6be2;
    --accent-sc: #696969;
    --accent-ss: #03aa72;
    --accent-dr: #cf4229;
    --accent-wn: #ffcb22;

    font-family: 'Roboto', sans-serif;
}